fastapi
uvicorn
beautifulsoup4
lxml
pydantic
python-multipart
pillow
pytest
httpx
paddlepaddle==3.2.1 --extra-index-url https://www.paddlepaddle.org.cn/packages/stable/cpu/
paddleocr[doc-parser]
paddlex[ocr]
fastapi
uvicorn
beautifulsoup4
lxml
pydantic
python-multipart
pillow
pytest
httpx